version: 2
updates:
  - package-ecosystem: npm
    open-pull-requests-limit: 99
    directory: /
    schedule:
      interval: weekly
      time: '08:00'
      timezone: America/Toronto
    cooldown:
      default-days: 5
      semver-major-days: 30
      semver-minor-days: 14
      semver-patch-days: 3
      include:
        - "playwright"
        - "playwright-*"
        - "@playwright/*"
    versioning-strategy: increase
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-patch']
      - dependency-name: eslint
        versions: '>=10'
    groups:
      eslint:
        dependency-type: development
        patterns:
          - eslint
          - eslint-*
          - '@eslint/*'
      chai:
        dependency-type: development
        patterns:
          - chai
          - chai-*
      ajv:
        dependency-type: production
        patterns:
          - ajv
          - ajv-*
      web:
        patterns:
          - '@web/*'
      playwright:
        patterns:
          - playwright
          - playwright-*
          - '@playwright/*'
